.dash-sec{
    min-height: 100vh;
    position: relative;
}

.sidebar{
    position: absolute;
    top: 5;
    left: 0;
    width: 300px;
    height: 100%;
    /* background: linear-gradient(-45deg,#571845,#c70039); */
    background: linear-gradient(-45deg,#000000,#040d38);
}

.dash-text{
    font-size: 32px;
    font-weight: 500;
}